<%- partial('./partials/header.ejs') %>
<div class="normal-width outer-wrapper">
	<div class="maincontent-wrapper left">
		<div class="content">
			<ul id="list">
				<% data.forEach(function(_article){%>
					<% var article = _article.toJSON()%>
				<li>
					<div class="item-wrapper">
						<div class="item-header">
							<img class="user-img left" src="http://p3.pstatp.com/thumb/178200067e23f0deb94a"/>
							<div class="name-time-wrapper left">
								<span class="name"><%= article.User.alias %></span>
								<span class="time timeago" title="03-17 21:11">
									03-17 21:11
								</span>
							</div>
						</div>
						<div class="item-content-wrapper">
							<div class="title">
								<p><%= article.title %></p>
							</div>
							<% if(type == 1){%>
 								<div>
 									<%= article.content%>
 								</div>
 							<% } else if(type == 2){%>
 								<div class="img-wrapper">
 									<img alt="" style="width:480px;height:416px;" data-echo="http://p1.pstatp.com/large/193f0002abe7d1e5cdc6" />
 								</div>
 							<%}%>
						</div>

						<div class="item-footer">
							<ul>
								<li>
									<span class="sprite up"></span>
									<span><%= article["voteUpCount"] %></span>
								</li>

								<li>
									<span class="sprite down"></span>
									<span><%= article.voteDownCount %></span>
								</li>

								<li>
									<span class="sprite star"></span>
									<span><%= article.favouriteCount %></span>
								</li>
	
								<li class="right">
									<span class="sprite share"></span>
									<span><%= article.share%></span>
								</li>

								<li class="right">
									<span class="sprite msg"></span>
									<span><%= article.commentsCount %></span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<%})%>
			</ul>


			<%/*<div class="pagination" id="pagination">
				<a href="#" class="page-prev sprite" alt="上一页" title="上一页"></a>
				<a href="#" class="current sprite circle">1</a>
				<a href="#" class="sprite circle">2</a>
				<a href="#" class="sprite circle">3</a>
				<a href="#" class="sprite circle">4</a>
				<a href="#" class="sprite circle">5</a>
				<a href="#" class="sprite circle">6</a>
				<a href="#" class="sprite circle">7</a>
				<a href="#" class="sprite circle">8</a>
				<a href="#" class="sprite circle">9</a>
				<a href="#" class="sprite circle">10</a>
				<a href="#" class="page-prev sprite" alt="上一页" title="上一页"></a>
			</div>*/%>

			<% if (pageCount > 1) { %>
		        <div class="pagination" id="pagination">
		            
		            <% var i = 1, par=4, showPageNum = 10;
		            if (currentPage > 5) {
		                i = currentPage - 5;
		                if(i+9>pageCount){
		                	i = pageCount-9;
		                }
		            } else {
		            	par = showPageNum-currentPage;
		            } %>
		           
		            <% for (i; i<=pageCount; i++) { %>
		                <% if (currentPage == i) { %>
		                    <a href="javascript:void(0)" class="current sprite circle"><span><%= i %></span></a>
		                <% } else { %>
		                    <a href="/<%= i %>" class="sprite circle"><%= i %></a>
		                <% } %>
		                <% if (i == (currentPage + par)) { break; }%>
 
		            <% } %>
		     
		            <a href="#" class="page-prev sprite" alt="上一页" title="上一页"></a>
		        </div>
		    <% } %>
		
		</div>
	</div>
	<div class="minor-wrapper right">111</div>
</div>


<div class="alert hide">
	<div class="dialog">
		<%- partial('./partials/login.ejs') %>
	</div>
</div>